<a href="https://colab.research.google.com/github/lokesh331/lokesh12/blob/main/28_1_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
data = {
    "Customer details": [23, 45, 67, 89],
    "Gender": ["Male", "Female", "Female", "Male"],
    "Location": ["Siddipet", "Dornakal", "Khammam", "Warangal"],
    "Village": ["Siddipet","Kondamrajpally","Khata","ittapalli"]
    }
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
label_encoder = LabelEncoder()
df["Gender"] = label_encoder.fit_transform(df["Gender"])
df["Location"] = label_encoder.fit_transform(df["Location"])
df["Village"] = label_encoder.fit_transform(df["Village"])
print("\nDataFrame after Label Encoding:")
print(df)

Original DataFrame:
   Customer details  Gender  Location         Village
0                23    Male  Siddipet        Siddipet
1                45  Female  Dornakal  Kondamrajpally
2                67  Female   Khammam           Khata
3                89    Male  Warangal       ittapalli

DataFrame after Label Encoding:
   Customer details  Gender  Location  Village
0                23       1         2        2
1                45       0         0        1
2                67       0         1        0
3                89       1         3        3

In [11]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

data = {
    "Customer details": [23, 45, 67, 89],
    "Gender": ["Male", "Female", "Female", "Male"],
    "Location": ["Siddipet", "Dornakal", "Khammam", "Warangal"],
    "Village": ["Siddipet","Kondamrajpally","Khata","ittapalli"]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

one_hot_encoder = OneHotEncoder(sparse_output=False)
encoded_data = one_hot_encoder.fit_transform(df[["Gender", "Location","Village"]])
encoded_columns = one_hot_encoder.get_feature_names_out(["Gender", "Location","Village"])
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)
print("\nDataFrame after One Hot Encoding:")
print(encoded_df)

Original DataFrame:
   Customer details  Gender  Location         Village
0                23    Male  Siddipet        Siddipet
1                45  Female  Dornakal  Kondamrajpally
2                67  Female   Khammam           Khata
3                89    Male  Warangal       ittapalli

DataFrame after One Hot Encoding:
   Gender_Female  Gender_Male  Location_Dornakal  Location_Khammam  \
0            0.0          1.0                0.0               0.0
1            1.0          0.0                1.0               0.0
2            1.0          0.0                0.0               1.0
3            0.0          1.0                0.0               0.0

   Location_Siddipet  Location_Warangal  Village_Khata  \
0                1.0                0.0            0.0
1                0.0                0.0            0.0
2                0.0                0.0            1.0
3                0.0                1.0            0.0

   Village_Kondamrajpally  Village_Siddipet  Village_ittapalli
0                     0.0               1.0                0.0
1                     1.0               0.0                0.0
2                     0.0               0.0                0.0
3                     0.0               0.0                1.0

In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = {
    "StudentMarks": [23, 45, 67, 89],
    "Rank": ["rank1", "rank2", "rank3", "rank4"]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
rank_mapping = {"rank1": 4, "rank2": 3, "rank3": 2,"rank4": 1}
df["Rank"] = df["Rank"].map(rank_mapping)
print("\nDataFrame after Ranking Encoding:")
print(df)

Original DataFrame:
   StudentMarks   Rank
0            23  rank1
1            45  rank2
2            67  rank3
3            89  rank4

DataFrame after Ranking Encoding:
   StudentMarks  Rank
0            23     4
1            45     3
2            67     2
3            89     1