<a href="https://colab.research.google.com/github/lokesh331/lokesh12/blob/main/DAY_9_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#day9
#Question 1

import pandas as pd
file_path = r'/content/drive/MyDrive/lokesh/Day_9_banking_data.csv'
df = pd.read_csv(file_path)
print("First 5 rows of the dataset:")
print(df.head())
print("\nBasic statistics of the numerical columns:")
print(df.describe())
print("\nMissing values in the dataset:")
print(df.isnull().sum())

First 5 rows of the dataset:
         Date       Account_Type    Branch Transaction_Type  \
0  2023-01-19      Fixed Deposit   Central     Loan Payment
1  2023-01-16            Current    Uptown       Withdrawal
2  2023-01-10            Current    Uptown     Loan Payment
3  2023-01-18            Savings    Uptown     Loan Payment
4  2023-01-14  Recurring Deposit  Suburban     Loan Payment

   Transaction_Amount  Account_Balance
0              985.51          6839.59
1              641.43          8908.39
2             3363.85         12428.67
3             1914.60          5776.63
4             2788.57          4779.04

Basic statistics of the numerical columns:
       Transaction_Amount  Account_Balance
count           20.000000        20.000000
mean          2705.829500      7967.766500
std           1429.829787      2770.248821
min            641.430000      2592.160000
25%           1482.085000      6460.127500
50%           2567.645000      7905.275000
75%           4121.525000      9127.702500
max           4683.640000     12836.510000

Missing values in the dataset:
Date                  0
Account_Type          0
Branch                0
Transaction_Type      0
Transaction_Amount    0
Account_Balance       0
dtype: int64

In [2]:
#day9
#Question 2
import pandas as pd
file_path =  r'/content/drive/MyDrive/lokesh/Day_9_banking_data.csv'
df = pd.read_csv(file_path)
total_transaction_amount_by_account_type = df.groupby('Account_Type')['Transaction_Amount'].sum()
average_account_balance_by_account_type = df.groupby('Account_Type')['Account_Balance'].mean()
total_transactions_per_branch = df.groupby('Branch')['Transaction_Amount'].count()
average_transaction_amount_per_branch = df.groupby('Branch')['Transaction_Amount'].mean()
print("Total sum of Transaction_Amount by Account_Type:")
print(total_transaction_amount_by_account_type)
print("\nAverage Account_Balance by Account_Type:")
print(average_account_balance_by_account_type)
print("\nTotal number of transactions per Branch:")
print(total_transactions_per_branch)
print("\nAverage transaction amount per Branch:")
print(average_transaction_amount_per_branch)

Total sum of Transaction_Amount by Account_Type:
Account_Type
Current              15052.57
Fixed Deposit        14102.59
Recurring Deposit    15179.99
Savings               9781.44
Name: Transaction_Amount, dtype: float64

Average Account_Balance by Account_Type:
Account_Type
Current              9893.404000
Fixed Deposit        6120.380000
Recurring Deposit    7627.283333
Savings              9134.110000
Name: Account_Balance, dtype: float64

Total number of transactions per Branch:
Branch
Central     8
Downtown    3
Suburban    5
Uptown      4
Name: Transaction_Amount, dtype: int64

Average transaction amount per Branch:
Branch
Central     2942.338750
Downtown    3188.703333
Suburban    2773.278000
Uptown      1786.345000
Name: Transaction_Amount, dtype: float64